@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}h1 {
    text-align: center;
    color: #fff; 
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    background-color: #666565;
    background-image: url('../Imagens/pexels-karolina-grabowska-5412285.jpg');
    background-size: cover;
    background-position: center;
    gap: 20px; 
}

body::before, body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.02);
    display: grid; 
}

.calculadora {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 75px); 
    gap: 1px; 
}

.value {
    grid-column: span 4;
    height: 140px;
    width: 100%; 
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.num {
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    background: rgba(255, 255, 255, 0.1); 
    transition: 0.5s;
}

.num:hover {
    background:#BF0404;
}
.calculadora .clear{
    grid-column: span 2;
    width: 150px;
    background: rgba(255, 255, 255, 0.201);
}
.calculadora .back{
    background: rgba(255, 255, 255, 0.201);
}